<h2 class="page-title"><span class="fw-semi-bold">Workflow</span> Home
  <small>Escrever algo aqui sobre o trabalho</small>
</h2>
<div class="row justify-content-md-center">
  <div class="col-md-5">
    <section widget class="widget tiny-x2">
      <header>
        <h4>
          Escolha entre carrgar uma fonte de dados ou utilizar uma disponível.
        </h4>
      </header>
      <div class="widget-body">
      	<app-list-data-source></app-list-data-source>
      </div>
    </section>
  </div>
  <div class="col-md-4">
    <section widget class="widget tiny-x2">
      <header>
        <h4>
          
        </h4>
      </header>
      <div class="widget-body">
        <app-source-info></app-source-info>
      </div>
    </section>

  </div>
  <div class="col-md-9">
    <section widget class="widget">
      <header>
        <h4>
          <app-charts></app-charts>
        </h4>
      </header>
      <div class="widget-body">
      </div>
    </section>    
  </div>
</div>
